img {
  width: 60%;
}

.remark-slide-content {
  padding: 2em 4em;
}

.remark-slide-content h2 {
  font-size: 40px;
}

.remark-slide-content h3 {
  font-size: 30px;
}

.inverse {
  color: white;
  background-color: #303030;
}

.inverse.remark-slide-number {
  color: darkgrey;
}

.left-column {
  color: #777;
  float: left;
  width: 25%;
}

.left-column h2:last-of-type {
  color: black;
}

.left-column :last-child {
  color: black;
}

.right-column {
  width: 70%;
  float: right;
  padding-top: 1.5em;
}

.flex {
  display: flex;
  align-items: center;
}

.pad-1 {
  padding: 1em;
}

.large {
  font-family: 'Yanone Kaffeesatz';
  font-size: 30px;
}

.red {
  color: tomato;
}
